<div class="form-wrapper">
  <form name="form" (ngSubmit)="f.form.valid && addStudent(student)" #f="ngForm" novalidate>
    <div class="form-group">
      <input type="text"
             name="name"
             class="form-control mb-1"
             #studentName="ngModel"
             required
             minlength="4"
             placeholder="Name"
             [(ngModel)]="student.name"/>
      <div *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)"
           class="alert alert-danger">
        <div *ngIf="studentName?.errors?.required">
          Name is required.
        </div>
        <div *ngIf="studentName?.errors?.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text"
             name="passportNumber"
             class="form-control mb-1"
             #passportNumber="ngModel"
             required
             minlength="4"
             placeholder="Passport Number"
             [(ngModel)]="student.passportNumber"/>
      <div *ngIf="passportNumber.invalid && (passportNumber.dirty || passportNumber.touched)"
           class="alert alert-danger">
        <div *ngIf="passportNumber?.errors?.required">
          Passport number is required.
        </div>
        <div *ngIf="passportNumber?.errors?.minlength">
          Passport number must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Add Student</button>
    </div>
  </form>
  <div class="container">
    <table *ngIf="students?.length > 0" class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Passport number</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stud of students">
        <td>{{stud.id}}</td>
        <td>{{stud.name}}</td>
        <td>{{stud.passportNumber}}</td>
        <td><button (click)="deleteStudent(stud)" class="btn btn-danger">Delete</button></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>


