<div *ngIf="error">Backend is offline</div>
<div *ngIf="!error" class="form-wrapper">
  <app-add-student></app-add-student>
  <div class="container">
    <table *ngIf="students?.length > 0" class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Passport number</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stud of students">
        <th scope="row">{{stud.id}}</th>
        <td>{{stud.name}}</td>
        <td>{{stud.passportNumber}}</td>
        <td>
          <button (click)="deleteStudent(stud)" class="btn btn-secondary ">Edit</button>
          <button (click)="deleteStudent(stud)" class="btn btn-danger ">Delete</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>


